
a{
	text-decoration: none;

}

a:hover{
	color: #878083;
	opacity: .6;
}
.socialicon-f{
	text-decoration: none;
	color: #1243A5;
}
.socialicon-i{
	text-decoration: none;
	color: #ff1a66;
}
.socialicon-y{
	text-decoration: none;
	color: #F31414;
}
.socialicon-f:hover{
	opacity: .5;

}
.socialicon-i:hover{
	color: #F17DBE;
	opacity: .8;
}
.socialicon-y:hover{
	color: #EF9494;
	opacity: .8;
}

.category, .data-protection{
	text-decoration: none;
	color: black;
}


#btn-scroll-top{

	opacity:0;
	position: fixed;
	bottom: 70px;
	right: 30px;
}


